/*************************************************************************************************/
/*                  Stylesheet for crud table                                                    */
/*                  Author: Ruyi Xia Ye                                                          */
/*                  Version: 1.0                                                                 */
/*                  Date: January 2024                                                           */
/*                  Comments: Lenguajes de Marcas project                                        */
/*************************************************************************************************/


/******************************* GENERAL STYLE ***************************************************/
@font-face {
    font-family: poppinsbold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinslight;
    src: url(../fonts/Poppins-Light.ttf);
}

* {box-sizing: border-box;}

body {background-color: #3a0a4a;
    background-image: url(../img/tablebg.jpg);
    background-position: center;
    background-size: cover;
}

#container {width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    overflow-x: auto;
}

/********************************* TABLE STYLE ***************************************************/
caption {padding-bottom: 5%;
    font-family: poppinsbold;
    font-size: 2.5em;
    color: #FFFFFF;
}

table {border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background: #FFFFFF;
}

td, th {border: 1px solid #524f4f;
    padding: 3px 4px;
}

tbody td {font-size: 1em;
    font-family: poppinslight;
}

tbody tr:nth-child(odd) {background: #EBEBEB;}

thead {background: #FFFFFF;
    border-bottom: 4px solid #333333;
}

tfoot {
    border-top: 4px solid #333333;
    background: #FFFFFF;
}

thead th, tfoot th {font-family: poppinsbold;
    font-size: 1em;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}

thead th:first-child, tfoot th:first-child {border-left: none;
}

/*************************************** RESPONSIVE DESIGN ******************************************/
/******************            RESPONSIVE DESIGN : Mobile phone             *************************/
@media screen and (max-width: 768px) {
    
    body {background-image: url(../img/tablebgresponsive.jpg);
        background-color: #561d41;
        background-size: cover;
        height: 100vh;
    }

    #container {width: 100%;
        height: auto;
    }

    caption {font-size: 1.5em;
        padding-top: 10%;
    }

    table {width: 60%;}

    tbody td {font-size: 0.8em;}

    thead th, tfoot th {font-size: 0.8em;}

}

@media screen and (max-width: 660px) {

    #container {display: block;}
    
}

@media screen and (max-width: 740px) and (orientation:landscape) {

    #container {padding-bottom: 10%;}
    
}

/******************            RESPONSIVE DESIGN : Tablet              *************************/

@media screen and (max-width:990px) and (min-width:769px) {

    table {width:60%;}

    #container {width: 100%;}

    caption {font-size: 1.7em;}

    tbody td {font-size: 0.9em;}

    thead th, tfoot th {font-size: 0.9em;}

}
