/*************************************************************************************************/
/*                  Stylesheet for crud table                                                    */
/*                  Author: Ruyi Xia Ye                                                          */
/*                  Version: 1.0                                                                 */
/*                  Date: January 2024                                                           */
/*                  Comments: Lenguajes de Marcas project                                        */
/*************************************************************************************************/


/******************************* GENERAL STYLE ***************************************************/
@font-face {
    font-family: poppinsbold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinslight;
    src: url(../fonts/Poppins-Light.ttf);
}

* {box-sizing: border-box;}

body {background-color: #3a0a4a;
    background-image: url(../img/tablebg.jpg);
    background-position: center;
    background-size: cover;
}

#container {width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    overflow-x: auto;
}

/********************************* TABLE STYLE ***************************************************/
caption {padding-bottom: 5%;
    font-family: poppinsbold;
    font-size: 2.5em;
    color: #FFFFFF;
}

table {border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background: #FFFFFF;
}

td, th {border: 1px solid #524f4f;
    padding: 3px 4px;
}

tbody td {font-size: 1em;
    font-family: poppinslight;
}

tbody tr:nth-child(odd) {background: #EBEBEB;}

thead {background: #FFFFFF;
    border-bottom: 4px solid #333333;
}

tfoot {
    border-top: 4px solid #333333;
    background: #FFFFFF;
}

thead th, tfoot th {font-family: poppinsbold;
    font-size: 1em;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}

thead th:first-child, tfoot th:first-child {border-left: none;}


button {border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.editbtn {background-color: rgb(127, 163, 241); 
    padding: 8px 29px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 3px 3px 0px 0px #000
}

.editbtn:hover {background-color:blue;}

.deletebtn {background-color: rgb(172, 76, 172); 
    padding: 8px 20px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 3px 3px 0px 0px #000
}

.deletebtn:hover {background-color: purple;}

.addbtn {background-color: rgb(165, 222, 32);
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: 3px solid rgb(193, 223, 125);
    box-shadow: 0px 0px 20px white;
}

.addbtn:hover {background-color: rgb(193, 223, 125);
    border: 3px solid rgb(165, 222, 32);
}

button:focus {transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #000;
}


/*************************************** RESPONSIVE DESIGN ******************************************/
/******************            RESPONSIVE DESIGN : Mobile phone             *************************/
@media screen and (max-width: 768px) {
    
    body {background-image: url(../img/tablebgresponsive.jpg);
        background-color: #561d41;
        background-size: cover;
        height: 110vh;
    }

    #container {width: 100%;
        height: auto;
    }

    caption {font-size: 1.5em;
        padding-top: 45px;
    }

    table {width: 50%;}

    tbody td {font-size: 0.8em;}

    thead th, tfoot th {font-size: 0.8em;}

    .addbtn {font-size: 0.9em;
        box-shadow: 0px 0px 10px white;
        padding: 8px 20px;
    }

}

@media screen and (max-width: 660px) {

    #container {display: block;}
    
}

@media screen and (max-width: 740px) and (orientation:landscape) {

    body {height: 130vh;}

    #container {width: 100%;
        padding-bottom: 20px;
        height: auto;
    }

    caption {padding-top: 35px;}
    
    .addbtn {font-size: 0.9em;}
    
}

/******************            RESPONSIVE DESIGN : Tablet              *************************/

@media screen and (max-width:1113px) and (min-width:769px) {

    table {width:55%;}

    #container {width: 100%;}

    caption {font-size: 1.7em;}

    tbody td {font-size: 0.9em;}

    thead th, tfoot th {font-size: 0.9em;}

    .addbtn {font-size: 0.9em;
        padding: 8px 18px;
    }

}
