/*************************************************************************************************/
/*                  Stylesheet for crud login form                                               */
/*                  Author: Ruyi Xia Ye                                                          */
/*                  Version: 1.0                                                                 */
/*                  Date: January 2024                                                           */
/*                  Comments: Lenguajes de Marcas project                                        */
/*************************************************************************************************/

/*************************************** GENERAL DESIGN ******************************************/
@font-face {font-family: poppinsbold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinslight;
    src: url(../fonts/Poppins-Light.ttf);
}

* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************** LOGIN FORM DESIGN ***************************************/
body {font-family: poppinsbold;
    height: 100hv;
    width: 100%;
    background-color: #232323;
    background-image: url(../img/loginbackground.jpg);
    background-size: cover;
    background-position: center;
}

.container {display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10%;
    width: 100%;
}

.form {position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: auto;
    width: auto;
    border-radius: 20px;
    border: 3px solid #a50ad8;
    box-shadow: 0px 0px 20px #da7cf8;
}

span {color:  rgb(172, 245, 1);}

.loginalert{font-family: poppinslight;
    margin-top: 5px;
    visibility: hidden;}

.title {color:#a50ad8; 
    font-weight: 900;
    font-size: 1.8em;
    margin-top: 20px;
}

.subtitle {font-weight: 600;
    margin-bottom: 10px
}

.formsection {display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 20px;
}

.form-text {font-family: poppinsbold;
    margin-top: 10px;
    color: #a50ad8;
    visibility: hidden;
}

.textbox {outline: none;
    border: 2px solid #000;
    box-shadow: 3px 4px 0px 1px #000;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}

.textbox:focus, .btn:focus {transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #000;
}

p {text-align: left;
    font-size: 0.9em;
    margin: 0;}

.btn {padding: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 310px;
    font-family: poppinsbold;
    font-size: 15px;
    background: #da7cf8;
    border-radius: 30px;
    box-shadow: 5px 5px 0px 0px #000;
}

a {font-family: poppinsbold;
    color: white;
    text-decoration: none;}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: poppinslight;
    font-size: 0.9em;
    text-align: left;
}
    
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/*************************************** RESPONSIVE DESIGN ******************************************/
@media screen and (max-width: 360px) {
    
    .container {padding-top: 40%;
    }

    .form {box-shadow: none;
        border: 2px solid #a50ad8;
        box-shadow: 0px 0px 15px #da7cf8
    }

}

@media screen and (max-width: 740px) and (orientation:landscape) {

    .container {padding-top: none;
        padding-bottom: 10%;
    }

    .form {box-shadow: none;
        border: 2px solid #a50ad8;
        box-shadow: 0px 0px 15px #da7cf8
    }
}


